body {
  background: -webkit-radial-gradient(center center, circle cover, #078ABE, #000);
}

.loading {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 400px auto;
  width: 500px;
  height: 50px;
  text-transform: uppercase;
  font-size: 18px;
}

.loading span {
  display: inline-block;
  background: tomato;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 0 black;
  position: relative;
  top: 0;
  box-shadow: inset 0 1px 1px -1px black, inset 0 -5px 1px -1px rgba(0, 0, 0, 0.5);
}

.char1 {
  animation: foo 2s ease infinite, bar 3s linear infinite;
  animation-delay: 0.1s;
}

.char2 {
  animation: foo 2s ease infinite, bar 3s linear infinite;
  animation-delay: 0.2s;
}

.char3 {
  animation: foo 2s ease infinite, bar 3s linear infinite;
  animation-delay: 0.3s;
}

.char4 {
  animation: foo 2s ease infinite, bar 3s linear infinite;
  animation-delay: 0.4s;
}

.char5 {
  animation: foo 2s ease infinite, bar 3s linear infinite;
  animation-delay: 0.5s;
}

.char6 {
  animation: foo 2s ease infinite, bar 3s linear infinite;
  animation-delay: 0.6s;
}

.char7 {
  animation: foo 2s ease infinite, bar 3s linear infinite;
  animation-delay: 0.7s;
}

.char8 {
  animation: foo 2s ease infinite, bar 3s linear infinite;
  animation-delay: 0.8s;
}

.char9 {
  animation: foo 2s ease infinite, bar 3s linear infinite;
  animation-delay: 0.9s;
}

.char10 {
  animation: foo 2s ease infinite, bar 3s linear infinite;
  animation-delay: 1s;
}

@keyframes foo {
  10% {
    top: -10px;
  }
  50% {
    top: 0;
  }
  100% {
    top: 0;
  }
}

@keyframes bar {
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}